body {
  padding: 50px;
}

h1 {
  font-family: 'Patrick Hand', cursive;
  font-size: 72px;
}

#buttonpad {
  margin-top: 50px;
}

#secondSet {
  margin-top: 20px;
}

.vish {
  position:absolute;
  width: 100px;
  opacity: 0;
}